@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  /* Styles for the loading spinner */
  .loading-container {
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
    background: linear-gradient(
      to bottom,
      #0d0d0d,
      #292929
    ); /* Dark gradient */
    display: flex; /* Center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
}
